
    <!-- Recipes card -->
    <div class="col s4">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Recipes</span>
        </div>
        <table class="responsive-table" id="recipe-table">
          <tbody>
          </tbody>
        </table>
        <span class="edit">
          <a class="modal-trigger" href="#modal-edit-recipes"><img src="static/icons/edit.png" width=28px/></a>
        </span>
        <span class="add-task">
          <a class="btn-floating btn-large waves-effect waves-light red  modal-trigger"  href="#modal-add-recipe"><i class="material-icons" style="font-style: normal;">+</i></a>
        </span>

        <!-- Modal add recipe -->
        <div id="modal-add-recipe" class="modal">
          <div class="modal-content">
            <h4>Add a recipe</h4>
              <form class="col s12">

                <div class="input-field col s12">
                  <input id="input-url" type="text" class="validate">
                  <label for="url">Brewtoad URL</label>
                </div>
              </form>
          </div>
          <div class="modal-footer">
            <button class="btn waves-effect waves-light modal-close modal-action" type="submit" name="action" id="submit-url">Submit
              <i class="material-icons right">send</i>
            </button>
          </div>
        </div>

        <!-- Modal edit recipes -->
        <div id="modal-edit-recipes" class="modal bottom-sheet">
          <div class="modal-content">
            <h4>Edit Recipe</h4>
            <h5>Mash steps</h5>
            <h5>Boil steps</h5>
          </div>
          <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Close</a>
          </div>
        </div>


      </div>
    </div>
