
    <!-- Recipes card -->
    <div class="col s4">
      <div class="card ">
        <div class="card-content">
          <span class="card-title">Recipes</span>
        </div>
        <table class="responsive-table">
          <tbody>
            <tr class="recipe">
              <td class="td-delete"> <i class="material-icons delete-button">delete</i></td>
              <td class="recipe-name">Dark IPA</td>
              <td class="recipe-step">Boil</td>
              <td class="recipe-time">25m 10s</td>
              <td> <i class="small material-icons">pause</i></td>
            </tr>
            <tr class="recipe">
              <td class="td-delete"> <i class="material-icons delete-button">delete</i></td>
              <td class="recipe-name">Bitter</td>
              <td class="recipe-step">Malt - first</td>
              <td class="recipe-time">30m 45s</td>
              <td> <i class="small material-icons">pause</i></td>
            </tr>
            <tr class="recipe">
              <td class="td-delete"> <i class="material-icons delete-button">delete</i></td>
              <td class="recipe-name">Stout</td>
              <td class="recipe-step">Hot</td>
              <td class="recipe-time">NA</td>
              <td> <i class="small material-icons">pause</i></td>
            </tr>
          </tbody>
        </table>
        <span class="edit">
          <a href="#"><img src="static/icons/edit.png" width=28px/></a>
        </span>
        <span class="add-task">
          <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons" style="font-style: normal;">+</i></a>
        </span>
      </div>
    </div>
