<!-- valve card -->
<div class="col s4">
  <div class="card" id="card-valve">
    <div class="card-content">
      <span class="card-title">Valves</span>
      <span class="card-lock">
        <i class="lock material-icons">lock_outline</i>
      </span>
    </div>
    <div class="card-valve switch">
      <table class="responsive-table">
        <tbody>
          <tr class="valve">
            <td class="valve-name">Hot</td>
            <td class="valve-actuator">
              <label>
                Off
                <input type="checkbox" id="switch-valve-hot">
                <span class="lever"></span>
                On
              </label>
            </td>
          </tr>
          <tr class="valve">
            <td class="valve-name">Malt</td>
            <td class="valve-actuator">
              <label>
                Off
                <input type="checkbox" id="switch-valve-mash">
                <span class="lever"></span>
                On
              </label>
            </td>
          </tr>
          <tr class="valve">
            <td class="valve-name">Boil</td>
            <td class="valve-actuator">
              <label>
                Off
                <input type="checkbox" id="switch-valve-boil">
                <span class="lever"></span>
                On
              </label>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
